* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
    * {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
body {
  background-color: #f3dac6;
  overflow: auto;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 48px;
}
#faq {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

section.faq {
  padding-top: 2em;
  padding-bottom: 3em;
}

#faq ul {
  text-align: left;
}
.transition,
p,
ul li i:before,
ul li i:after {
  transition: all 0.3s;
}

#faq .no-select,
#faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#faq h1 {
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#faq h2 {
  color: #edd6c4;
  font-family: "hm_light", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}

#faq p {
  color: #333;
  text-align: left;
  font-family: "hm_light", sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: 0.3s opacity, 0.6s max-height;
  hyphens: auto;
  z-index: 2;
}

#faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*padding-bottom: 4px;*/
  /*padding-top: 18px;*/
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 15px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #edd6c4;
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type="checkbox"]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type="checkbox"]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: 0.3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}
#faq ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#faq ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.quote {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.column {
  margin-top: 100px;
  margin-bottom: 100px;
  float: left;
  width: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
}

.column-2 {
  background-color:rgba(237.0000010728836, 214.00000244379044, 196.00000351667404, 0.5);
  font-family:Inter;
  text-align:left;
  font-size:22px;
  letter-spacing:0;
  margin-top: 100px;
  margin-bottom: 100px;
  float: right;
  width: 28%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align:center;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button_container{
  align-items: center;
  position: fixed;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  align-items: center;
  justify-content: center;
}


.TITLE { 
  align-items: center;
  width:80%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
  position:absolute;
}

.BoxofTEXT { 
  margin: 0 auto;
  /*background: #fff;*/
  padding: 20px;
  background-color:rgba(245.00000059604645, 237.0000010728836, 231.00000143051147, 1);
  width:80%;
  top: 100%;
  left: 100%;
  align-items: center;
  height:513px;
  /* position:absolute; */
  /* top:0px; */
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}
.WebContainer{
    width: 100%;
    height: auto;
}

.TopAVATARS { 
  width:380px;
  height:380px;
  position:absolute;
  left: 65%;
  float: right;
  background-image:url(images/women_image.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.TextTITLE { 
  color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
  width:50%;
  height:100%;
  position:absolute;
  right:40%;
  top:55px;
  font-family:Inter;
  text-align:left;
  font-size:48px;
  letter-spacing:-2.200000047683716;
}
.TextBOX { 
  color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 0.699999988079071);
  width:50%;
  height:100%;
  position:absolute;
  right:45%;
  top:231px;
  text-align:left;
  font-size:22px;
  letter-spacing:-2.200000047683716;
}  


.TextOURSTORIES { 
  width:1065px;
  height:483px;
  position:absolute;
  left:187px;
  top:950px;
}

.h5 {
  margin: 0;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color:rgba(0, 0, 0, 1);
  width:100%;
  /* position:absolute; */
  display: flex;
  left: 50%;
  font-family:Inter;
  text-align:center;
  justify-items: center;
  font-size:24px;
  letter-spacing:-2.200000047683716;
}

.TextITHASBEEN { 
  width:345px;
  height:371px;
  position:absolute;
  left:360px;
  top:109px;
}

.BackgroundITHASBEEN { 
  background-color:rgba(237.0000010728836, 214.00000244379044, 196.00000351667404, 0.5);
  width:90%;
  height:90%;
  position:absolute;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}

.AvatarITHASBEEN { 
  width: 80px;
  height: 80px;
  /* display: flex;s */
  /* position: absolute; */
  /* justify-content: center; */
  left: 50%;
  background-image:url(images/women_power_avatar.png);
  background-repeat:no-repeat;
  background-size:cover;
}



.PlacementTEXTITHASBEEN { 
  color:rgba(0, 0, 0, 0.699999988079071);
  width:50%;
  height:80%;
  font-family:Inter;
  text-align:center;
  font-size:22px;
  letter-spacing:0;
}

.TextAFTER { 
  width:345px;
  height:371px;
  position:absolute;
  left:720px;
  top:109px;
}

.BackgroundBOTTOMAFTER { 
  background-color:rgba(237.0000010728836, 214.00000244379044, 196.00000351667404, 0.5);
  width:345px;
  height:190px;
  position:absolute;
  left:0px;
  top:148px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}

.AvatarAFTER { 
  width:164px;
  height:132px;
  position:absolute;
  left:91px;
  top:0px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
  background-image:url(images/women_power_avatar.png);
  background-repeat:no-repeat;
  background-size:cover;
}
.PlacementTEXTAFTER { 
  color:rgba(0, 0, 0, 0.699999988079071);
  width:300px;
  height:210px;
  position:absolute;
  left:23px;
  top:161px;
  font-family:Inter;
  text-align:left;
  font-size:22px;
  letter-spacing:0;
}

.TextBOTTOMIFOUND { 
  width:345px;
  height:374px;
  position:absolute;
  left:0px;
  top:109px;
}

.BackgroundBOTTOMIFOUND { 
  background-color:rgba(237.0000010728836, 214.00000244379044, 196.00000351667404, 0.5);
  width:345px;
  height:190px;
  position:absolute;
  left:0px;
  top:148px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;
}

.PlacementTEXTIFOUND { 
  color:rgba(0, 0, 0, 0.699999988079071);
  width:300px;
  height:210px;
  position:absolute;
  left:21px;
  top:164px;
  font-family:Inter;
  text-align:left;
  font-size:22px;
  letter-spacing:0;
}

.AvatarIFOUND { 
  width:164px;
  height:132px;
  position:absolute;
  left:96px;
  top:0px;
  background-image:url(images/women_power_avatar.png);
  background-repeat:no-repeat;
  background-size:cover;
}

.img{
  position: absolute;
  width: 200px;
  height: 200px;
  /*
  left: 420px;
  top: 401px;
  */
  left: calc(50% - 306px / 2 - 280px);
  top: calc(50% - 16px / 2 - 287px);
  border-radius: 50%;
}